/* CSS declarations go here */
body{
    padding:5% 15%;
    background-color:#ecf0f1
}
.collection{
    padding:15px;
    background-color:white;
}
.classroom-container .collection .collection-item{
    margin-bottom: 3px;
    position:relative;
} 
.classroom-container .collection .collection-item:hover{
    cursor:pointer;
    background-color: #f2f2f2;
}
.classroom-container .collection .collection-item .input-field{
    width: 60%;
    margin: 0;
    position: absolute;
    top: -3px;
    left: 20px;
    z-index:-1;
    opacity:0;
    tranbsition: all .3 ease-out;
}
.classroom-container .collection .collection-item .input-field.activate{
    z-index:2;
    opacity:1
}
.classroom-container .collection .collection-item .input-field button{
    float:left;
    margin-top:6px;
}
.classroom-container .collection .collection-item a.btn{
    opacity:0;
}
.classroom-container .collection .collection-item:hover a.btn{
    opacity:1;
}
.classroom-container .btn{
    float:right;
    margin-top:-7px;
    margin-right:15px;
}
.classroom-container input[name="editClassname"]{
    float:left;
    background-color:white;
    margin-bottom:0;
    margin-right:15px;
    width:30%;
}